<ion-content class="bg-black">
   
    <ion-card class="welcome-card">    
      <ion-grid>
          <ion-row>
             <ion-col size="7">  
              <div>
                 <div class="icon-bell icon"></div>
                 <div class="icon-podium icon"></div>
              </div>
            </ion-col>
            <ion-col size="5" class="ion-text-right">  
               <div >
                 <div class="icon-football icon"></div>
                 <ion-label color="light" class="ion-2x ion-text-justify">
                      200
                 </ion-label>
             </div> 
           </ion-col>
          </ion-row>
      </ion-grid>
          
       <ion-grid class="bg-row1">
          <ion-row class="bg-row-row1">            
            <ion-col size="3">  
              <div class="ion-text-justify">
                <ion-button  class="btn-font-size" color="danger" size="small">Live</ion-button>
              </div>
            </ion-col>
            <ion-col size="9" float-right class="ion-text-right ion-padding-end">     
                <div class="">         
                  <ion-label class="ion-text-right ion-1x ion-padding-end">10.00</ion-label>              
                </div>
            </ion-col>
          </ion-row>                              
        </ion-grid>
      <ion-grid>
      <ion-row >
          <ion-col size="3">
             <div class="icon-team"></div>             
           </ion-col>

          <ion-col size="6">
            <div class="ion-text-center text-white">
              <h3>3 - 1 </h3>
          </div>
          </ion-col>

          <ion-col size="3" class="align-items-end">
             <div class="icon-team"></div>             
           </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col class="predict-title" color="gray">
          <div >PREDICTIONS</div>
        </ion-col>

        <ion-col>
          <ion-button class="ion-margin-start btn-powerplay" color="danger" size="small">Powerplay</ion-button>
        </ion-col>
      </ion-row>
       <ion-row class="border">
         <ion-col>
           <div class="icon-tabs-tab"></div>
         </ion-col> 
         <ion-col>
           <div class="icon-tabs-tab"></div>
         </ion-col> 
         <ion-col>
           <div class="icon-tabs-tab"></div>
         </ion-col> 
         <ion-col>
           <div class="icon-tabs-tab"></div>
         </ion-col> 
         <ion-col>
           <div class="icon-tabs-tab"></div>
         </ion-col> 
       </ion-row>
    </ion-grid> 

     <ion-grid>
      <ion-row class="ion-margin">
          <ion-col size="9">          
              <div class="quest-card">
                <div class="q-title">Prediction 1 </div>
                <div class="q-quest">Will BOU tally the scoreboard by scoring a goal in first half?</div>

               <ion-button class="ion-margin-top btn-font-size button-width" color="danger" size="large">Yes</ion-button><br/>
                <ion-button class="ion-margin-top btn-font-size button-width" color="danger" size="large">No</ion-button>
              </div> 
          </ion-col>

          <ion-col size="3">
           <div class="">
              <div class="score-container text-center">
                <div class="point">60  Sec</div>
              </div>
            </div> 
          </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
          <ion-col size="8" class="text-white ">
            <div>5 predictions to go to unlock </div> 
          </ion-col>
          <ion-col size="4"> 
            <ion-button class="ion-margin-start btn-powerplay" color="danger" size="small">Powerplay</ion-button>
          </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid color="dark">
      <ion-row>
        <ion-progress-bar color="danger" value="0.5"></ion-progress-bar>
      </ion-row>

    </ion-grid>

    </ion-card>
    
</ion-content>